﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
<h1 class="text-center">Admin Dashboard</h1>
<br /><br /><br />
<div class="row">

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" style="width:190px;margin:auto;margin-top:10px;" alt="">
            <div class="card-body">
                <div class="text-center">
                    <h4 class="card-title"><a asp-action="Index" asp-controller="Users">Users</a></h4><br />
                </div>

            </div>
        </div>
        <br /><br />
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/shopping-symbol-2/500/archive_box_file_open_open_box_pack_product_products-512.png" style="width:190px;margin:auto;margin-top:10px;" alt="">
            <div class="card-body">
                <div class="text-center">
                    <h4 class="card-title"><a asp-action="Index" asp-controller="Products">Produktet</a></h4><br />
                </div>

            </div>
        </div>
        <br /><br />
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/erp-software-icon-set-1/512/new_order_confirmation_green-512.png" style="width:190px;margin:auto;margin-top:10px;" alt="">
            <div class="card-body">
                <div class="text-center">
                    <h4 class="card-title"><a asp-action="Index" asp-controller="Orders">Porositë</a></h4><br />
                </div>

            </div>
        </div>
        <br /><br />
    </div>
</div>

