﻿@model OPD.Models.Order
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<br />
<h3>A jeni i sigurtë se dëshironi ta fshini këtë porosi?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            FOTO :
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Html.DisplayFor(model => model.Imgname)" />
        </dd>
        <dt class="col-sm-2">
            Emri i produktit:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdEmri)
        </dd>
        <dt class="col-sm-2">
            Sasia:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sasia)
        </dd>
        <dt class="col-sm-2">
            Cmimi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmimi).00€
        </dd>
        <dt class="col-sm-2">
            Totali:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmimi)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="MyOrders" class="btn btn-primary">Kthehu tek lista</a>
    </form>
</div>

