﻿@model OPD.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ndrysho porosinë</h1>

<hr />
<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            Foto:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Html.DisplayFor(model => model.Imgname)" />
        </dd>
        </dl>
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">

                    <input asp-for="OrderId" class="form-control" type="hidden" />
                    <span asp-validation-for="OrderId" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="ProductId" class="form-control" type="hidden" />
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="UserId" class="form-control" type="hidden" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Imgname" class="form-control" type="hidden" />
                    <span asp-validation-for="Imgname" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="ProdEmri" class="form-control" type="hidden" />
                    <span asp-validation-for="ProdEmri" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Emri" class="form-control" type="hidden" />
                    <span asp-validation-for="Emri" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <h3>Ndrysho sasinë</h3>
                    <select asp-for="Sasia">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span asp-validation-for="Sasia" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Cmimi" class="form-control" type="hidden" />
                    <span asp-validation-for="Cmimi" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Ndrysho numrin e telefonit</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">Ndrysho adresën</label>
                    <input asp-for="Adresa" class="form-control" />
                    <span asp-validation-for="Adresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
</div>

<div>
    <a asp-action="MyOrders">Kthehu tek lista</a>
</div>

