﻿@model PaginatedList<OPD.Models.Order>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br />
<h2 class="text-center">My Orders</h2>
<br />
<br />
<form asp-action="MyOrders" method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Kërko" name="SearchString" value="@ViewData["currentFilter"]">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search">🔍</i>
            </button>
        </div>
    </div>
</form>
<table class="table table-hover " id="dev-table">

    <thead>
        <tr>
            <th>#</th>
            <th>Emri i produktit</th>
            <th><a asp-action="MyOrders" asp-route-sortOrder="@ViewData["Data"]">Data🔼🔽</a></th>

            <th>Cmimi</th>
            <th>Statusi</th>
            <th colspan="2">Operacionet</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var order in Model)
        {
        <tr>
            <td><a asp-action="OrderDetails" asp-route-id="@order.Id">@order.OrderId</a></td>
            <td>@order.ProdEmri</td>
            <td>@order.Data</td>
            <td>@order.Cmimi.00€</td>

            @if (order.Statusi == true)
            {
                <td>
                    <p class="text-success">Aprovuar</p>
                </td>
            }
            else if (order.Statusi == false)
            {
                <td>
                    <p class="text-danger">Refuzuar</p>
                </td>
            }
            else
            {
                <td>
                    <p class="text-info">Ne Pritje!</p>
                </td>
            }
            @if (order.Statusi == null)
            {
                <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@order.Id">Delete</a></td>
                <td> <a class="btn btn-warning" asp-action="Edit" asp-route-id="@order.Id">Edit</a></td>
            }
        </tr>
        }
    </tbody>

</table>
<div class="container">
    <a asp-action="MyOrders" class="btn btn-primary">Lista e plotë</a>
    <div class="d-flex justify-content-end">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Produktet"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Produktet"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>


    </div>
</div>
