﻿
@model OPD.Models.Order

@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Details</h1>

<div>
    <br />
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Foto:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Html.DisplayFor(model => model.Imgname)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emri):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class="col-sm-2">
            Emri i produktit:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdEmri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmimi):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmimi).00€
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sasia):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sasia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class="col-sm-2">
            Numri i telefonit:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


    </dl>
</div>
@if (!User.IsInRole("Admin"))
{
    <div>
        <a asp-action="MyOrders" class="btn btn-primary">Kthehu tek lista</a>
    </div>
}
else
{
    <a asp-action="Index" asp-area="Admin" asp-controller="Orders" class="btn btn-primary">Kthehu tek lista</a>
}

