﻿@model IndexViewModel
@{
    ViewBag.Title = "Home";
}
<h2 class="text-center">PRODUKTET</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Emri
            </th>
            <th>
                Përbërësit
            </th>
            <th>
                Madhësia
            </th>
            <th>
                Cmimi
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pizzas)
        {
            <tr>
                <td>

                    @item.Emri
                </td>
                <td>@item.Perberesit</td>
                <td>
                    @item.Madhesia
                </td>
                <td>@item.Cmimi €</td>

            </tr>
        }

        
    </tbody>
</table>

