﻿@model OnlinePizzaDelivery.Models.Pizza

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Shto Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Emri" class="control-label"></label>
                <input asp-for="Emri" class="form-control" />
                <span asp-validation-for="Emri" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Perberesit" class="control-label"></label>
                    <input asp-for="Perberesit" class="form-control" />
                    <span asp-validation-for="Perberesit" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Madhesia" class="control-label"></label>
                    <input asp-for="Madhesia" class="form-control" />
                    <span asp-validation-for="Madhesia" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Cmimi" class="control-label"></label>
                <input asp-for="Cmimi" class="form-control" />
                <span asp-validation-for="Cmimi" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}