﻿@model IEnumerable<OnlinePizzaDelivery.Models.Pizza>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Pizzat</h4>
<hr />


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perberesit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Madhesia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmimi)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Shto</a>
               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perberesit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Madhesia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cmimi)
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.Id" >Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('A dëshironi ta fshini këtë produkt?')">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>