﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klikoni këtu për të konfirmuar emailin tuaj</a>
</p>
    }
    else
    {
<p>
        Shikoni në emailin tuaj për konfirmim
</p>
    }
}
