﻿@model OPD.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Krijo një produkt</h1>
<br /><br />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Products" asp-action="Create">
            <label class="control-label">Zgjedh një foto</label>
            <input type="file" name="ifile" />
            <br />
            <div class="form-group">
                <label asp-for="Emri" class="control-label"></label>
                <input type="text" name="Emri" class="form-control" />
                <span asp-validation-for="Emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Përbërësit</label>
                <input type="text" name="Perberesit" class="form-control" />
                <span asp-validation-for="Perberesit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmimi" class="control-label"></label>
                <input type="number" name="Cmimi" class="form-control" />
                <span asp-validation-for="Cmimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Shto" class="btn btn-success"/>
                </div>


        </form>

</div>
</div>