﻿@model OPD.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<br />
<h3>A jeni i sigurtë se dëshironi ta fshini këtë produkt?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            FOTO :
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/@Html.DisplayFor(model => model.Imgname)" />
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perberesit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perberesit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary" >Back to List</a>
    </form>
</div>
