﻿@model OPD.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detajet e produktit</h1>

<div>
   <br />
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Foto:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Html.DisplayFor(model => model.Imgname)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emri):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class="col-sm-2">
            Përbërësit:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perberesit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cmimi):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cmimi).00€
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Kthehu tek lista</a>
</div>
