﻿@model OPD.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Edito produktin</h1>
<br /><br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        FOTO :<img src="~/Images/@Html.DisplayFor(model => model.Imgname)" />
              <form asp-action="Edit">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <input type="hidden" asp-for="ProductId" />
                  <div class="form-group">
                      <input asp-for="Imgname" class="form-control" type="hidden" />
                      <span asp-validation-for="Imgname" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                      <input asp-for="Imgpath" class="form-control" type="hidden" />
                      <span asp-validation-for="Imgpath" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                      <label asp-for="Emri" class="control-label"></label>
                      <input asp-for="Emri" class="form-control" />
                      <span asp-validation-for="Emri" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                      <label asp-for="Perberesit" class="control-label"></label>
                      <input asp-for="Perberesit" class="form-control" />
                      <span asp-validation-for="Perberesit" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                      <label asp-for="Cmimi" class="control-label"></label>
                      <input type="number" name="Cmimi" class="form-control" />
                      <span asp-validation-for="Cmimi" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                      <input type="submit" value="Ruaj" class="btn btn-success" /> | <a asp-action="Index" class="btn btn-primary">Kthehu tek lista</a>
                  </div>
              </form>
    </div>
</div>


