﻿@model PaginatedList<OPD.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-center">Produktet</h1>
<br /><br />
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Kërko: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Lista e plotë</a>
        </p>
    </div>
</form>
<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Emri"]">Emri</a>
            </th>
            <th>
                Foto
            </th>
            <th>
                Përbërësit
            </th>
            <th>
                Cmimi
            </th>
            <th>
                <a asp-action="Create" class="btn btn-success btn-xs">Shto produkt <span class="glyphicon glyphicon-plus"></span></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Emri)
            </td>
            <td>
                <img src="~/Images/@item.Imgname" height="80" width="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perberesit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmimi).00€
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a> 