﻿@model PaginatedList<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-center">Users</h1>
<br /><br />
      <form asp-action="Index" method="get">
          <div class="form-actions no-color">
              <p>
                  Kërko: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                  <input type="submit" value="Search" class="btn btn-default" /> |
                  <a asp-action="Index">Lista e plotë</a>
              </p>
          </div>
      </form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Emri"]">Emri</a>
            </th>
            <th>
                Email
            </th>
            <th>Operacionet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => user.Emri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>

        }

    </tbody>
    <tr class="d-flex justify-content-end">
        <td>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <a asp-action="Users"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a asp-action="Users"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </td>
    </tr>
</table>


