﻿@model OPD.Models.Order

@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl>
            <dt class="col-sm-2">
                Foto:
            </dt>
            <dd class="col-sm-10">
                <img src="~/Images/@Html.DisplayFor(model => model.Imgname)" />
            </dd>
        </dl>
        <form asp-action="Confirm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">

                <input asp-for="OrderId" class="form-control" type="hidden" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="ProductId" class="form-control" type="hidden" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="UserId" class="form-control" type="hidden" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Imgname" class="form-control" type="hidden" />
                <span asp-validation-for="Imgname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdEmri" class="control-label"></label>
                <input asp-for="ProdEmri" class="form-control" readonly />
                <span asp-validation-for="ProdEmri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emri" class="control-label"></label>
                <input asp-for="Emri" class="form-control" readonly />
                <span asp-validation-for="Emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sasia" class="control-label"></label>
                <input asp-for="Sasia" class="form-control" readonly />
                <span asp-validation-for="Sasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmimi" class="control-label"></label>
                <input asp-for="Cmimi" class="form-control" readonly />
                <span asp-validation-for="Cmimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" readonly />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" readonly />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <label>

                <input type="radio" asp-for="Statusi" value="true" /> <a>Aprovuar</a>

                <input type="radio" asp-for="Statusi" value="false" /> <a>Refuzuar</a>

            </label>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

