﻿@model OPD.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-center"> Detajet e produktit</h2>
<br /><br />
      <div class="container">

          <div class="row">

              <div class="col-md-8 rounded border border-light">
                  <div class="text-center">
                      <h3 class="my-3">
                          @Html.DisplayFor(model => model.Emri)
                      </h3>
                      <div class="align-middle"><img style="width:70%" src="~/Images/@Html.DisplayFor(model => model.Imgname)" alt=""></div>
                  </div>
              </div>

              <div class="col-md-4 rounded border border-light">
                  <h3 class="my-3">Përbërësit</h3>
                  <p>@Html.DisplayFor(model => model.Perberesit)</p>
                  <h4> Cmimi: <span class="text-warning">@Html.DisplayFor(model => model.Cmimi).00€</span></h4>
                                  
                  <form asp-action="Buy" asp-controller="Orders" method="post">

                      <input type="hidden" value="@ViewBag.userId" name="UserId" />
                      <input type="hidden" value="@Html.DisplayFor(model => model.ProductId)" name="ProductId" />
                      <input type="hidden" value="@ViewBag.Emri" name="Emri" />
                      <input type="hidden" value="@Html.DisplayFor(model => model.Cmimi)" name="Cmimi" />
                      <input type="hidden" value="@Html.DisplayFor(model => model.Imgname)" name="Imgname" />
                      <input type="hidden" value="@Html.DisplayFor(model => model.Emri)" name="ProdEmri" />
                      <h4>Shëno numrin e telefonit</h4>
                      <input type="text" name="PhoneNumber" />
                      <h4>Shëno adresën</h4>
                      <input type="text" name="Adresa" />
                      <h5>Zgjedh sasinë</h5>
                      <select name="Sasia">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                      </select>
                      <input class="btn btn-success" type="submit" value="Bleje" />

                  </form>
                   
              </div>

          </div>


         
      </div>