﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @if (User.Identity.IsAuthenticated) { <p>Mirë se vini, tani mund të bleni produktet e preferuara</p>}

        else{<p> Mirë se vini, për të blerë produktet duhet të regjistroheni</p>}
        
        
        
    </div>
