﻿@model PaginatedList<OPD.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Shop Homepage - Start Bootstrap Template</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/shop-homepage.css" rel="stylesheet">



<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Produktet</h1>
            <div class="list-group">
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
            <br />

            <form asp-action="Produktet" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Kërko" name="SearchString" value="@ViewData["currentFilter"]">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search">🔍</i>
                        </button>
                    </div>
                </div>
            </form>
            <br />
            <a class="btn btn-info" asp-action="Produktet">               Lista e plotë              </a> 
            <a class="btn btn-light" asp-action="Produktet" asp-route-sortOrder="@ViewData["Emri"]">      Rendit sipas emrit 👆👇     </a>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="https://perfectpizzacompany.com/ppc/wp-content/uploads/2017/06/home_banner.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/5512671/910/304/m2/fpnw/wm1/xvul3yaquuewyh2xfdqroqnuuiuqifqx10xzltpags0a9i9mpodfnr5yge9yoama-.jpg?1544100433&s=293223681b0bd8b6b553530900fa91b6" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/4656204/910/306/m2/fpnw/wm1/slinfprncgrtioqvcz5amuknrjs7ibj70uqxbkpo68crleaywwdxo3gknmp9bmnt-.jpg?1529922015&s=c164aba6fc50a73c3230a84acc53f3b5" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="text-center">
                                <h4 class="card-title">
                                    <br />
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.ProductId">@item.Emri</a>
                                </h4>
                                <div class="card-img-top">
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.ProductId"><img style="width:190px;" src="~/Images/@item.Imgname" alt=""></a>
                                    <br />
                                </div>
                                <div class="card-body">
                                    <h5 class="text-center">@item.Cmimi.00€</h5>
                                </div>
                               
                            </div>

                        </div>
                    </div>



                }



            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
    <div class="d-flex justify-content-end">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Produktet"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Produktet"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>


    </div>

</div>



